*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

body{
    background: url('img/backrenz.jpg')no-repeat;
    background-size: cover;
}

.login-form{
    padding: 80px;
    background-color: blue;
    opacity: 0.8;
    border-radius: 50px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;

}

.login-form h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
}

.login-form p{
    font-size: 20px;
    margin: 15px;
}

.login-form input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px; 
    border: 0;
    outline: none;
    border-radius: 5px;
}

.login-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    width: 30%;
    border-radius: 5px;
    border: 0;
    padding: 10px 15px;

}